@import "@stackoverflow/stacks-icons/src/icons.css";

.svg-icon-bg.iconGitHub {
    --bg-icon: url("@stackoverflow/stacks-icons/src/Icon/GitHub.svg");
}

.svg-icon-bg.iconGitLab {
    --bg-icon: url("@stackoverflow/stacks-icons/src/Icon/GitLab.svg");
}