#particle-container {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.particle {
    position: absolute;
    animation: xAxis 10s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}

    .particle:after {
        content: '';
        display: block;
        height: 10px;
        width: 2px;
        border-radius: 1px;
        animation: yAxis 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64), fade 10s infinite linear;
        opacity: 0;
    }

.particle.red:after {
    background-color: #FF4136;
}

.particle.green:after {
    background-color: #3D9970;
}

.particle.blue:after {
    background-color: #0074D9;
}

.particle.purple:after {
    background-color: #B10DC9;
}

.particle.yellow:after {
    background-color: #FFDC00;
}

@keyframes yAxis {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(-100px);
  }
}

@keyframes xAxis {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(100px);
  }
}

@keyframes fade {
    50% {
        opacity: 1;
    }
}