@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Open+Sans');
@import './icons.css';

.resume-container {
    height: 100%;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: initial;
}

    .resume-container h1, .resume-container h2, .resume-container h3, .resume-container h4, .resume-container h5 {
        font-family: 'Cormorant Garamond', serif;
        letter-spacing: 1px;
        font-weight: 700;
    }

    .resume-container h1 {
        font-size: 34px;
    }

    .resume-container h2 {
        font-size: 26px;
    }

    .resume-container h3 {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .resume-container h3 > span + a {
        font-size: 17px;
    }

    .resume-container h4 {
        font-size: 18px;
        margin: 0 0 5px 0;
    }

    .resume-container h5 {
        font-size: 16px;
        margin: 0;
    }

.resume-container > section, .resume-container header, .resume-container nav, .resume-container footer, .resume-container h2 {
    box-sizing: border-box;
    width: 80vw;
    max-width: 960px;
    margin: 10px auto;
}

.resume-container nav {
    margin-bottom: 20px;
}

    .resume-container nav > span {
        float: right;
    }

.resume-container footer {
    display: none;
}

.resume-container > section {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .9);
    color: black;
    padding: 10px 10px 1px 10px;
    position: relative;
}

    .resume-container > section aside {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    .resume-container > section h3 {
        margin-top: 0;
    }

.resume-container header {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

    .resume-container header > * {
        flex: 1;
    }

        .resume-container header .contact-info {
            text-align: right;
        }

        .resume-container header ul {
            display: inline-block;
        }

        .resume-container header ul li {
            position: relative;
            padding: 5px 25px 5px 5px;
            text-align: left;
        }

        .resume-container header ul li i {
            font-size: 20px;
            position: absolute;
            right: 0;
            top: 4px;
        }

        .resume-container header ul li i.icon:before {
            margin-right: 0;
        }

        .resume-container header ul li a {
            color: inherit;
        }

.resume-container .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .resume-container .columns > h3, .resume-container .columns > h4 {
        width: 100%;
    }

    .resume-container .columns h3, .resume-container .columns div {
        margin-bottom: 10px;
    }

    .resume-container .columns div {
        width: 50%;
        box-sizing: border-box;
    }
        .resume-container .columns div:first-child {
            padding-right: 10px;
        }

.resume-container h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    direction: row;
    white-space: nowrap;
    margin: 0 auto;
}

    .resume-container h2:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        vertical-align: text-bottom;
        margin: 0 0 0 10px;
        align-self: flex-end;
    }

.resume-container hr {
    width: 80%;
    border: 0px solid #333;
    border-top-width: 1px;
    margin: 0px auto 20px auto;
}

@media screen and (max-width: 767px) {
    .resume-container > section, .resume-container header, .resume-container nav, .resume-container footer, .resume-container h2 {
        width: 95vw;
    }

    .resume-container .columns > * {
        width: 100% !important;
    }

    .resume-container header h1 {
        flex-basis: 100%;
        text-align: center;
    }

    .resume-container header .contact-info {
        flex-basis: 100%;
        text-align: center;
    }

    .resume-container header .contact-info li {
        padding-bottom: 20px;
    }
}

@media print {
    @page {
        margin: .25in .75in;
    }

    .hide-print {
        display: none !important;
    }

    .resume-container {
        height: auto;
        overflow: shown;
        font-size: 10pt;
        line-height: 12pt;
    }

        .resume-container *, .resume-container a, .resume-container a:visited, .resume-container a:hover {
            color: black;
        }

    .resume-container > section, .resume-container header, .resume-container nav, .resume-container footer, .resume-container h2 {
        width: 100%;
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }

    .resume-container h1, .resume-container h2, .resume-container h3, .resume-container h4, .resume-container h5 {
        page-break-after: avoid;
    }

    .resume-container h1 {
        font-size: 24pt;
        color: #437983;
    }

    .resume-container h2 {
        font-size: 14pt;
        color: #437983;
    }

    .resume-container h3 {
        font-size: 12pt;
    }

    .resume-container h4, .resume-container h5 {
        font-size: 10pt;
    }

    .resume-container nav {
        display: none;
    }

    .resume-container footer {
        display: block;
        font-size: 8pt;
        text-align: right;
        margin: 0;
    }

    .resume-container hr {
        display: none;
    }

    .resume-container ul {
        padding-left: 20px;
    }

    .resume-container > section {
        background-color: transparent;
        margin: 0;
    }

    .resume-container > section aside {
        display: none;
    }

    .resume-container h2:after {
        height: 1px;
        margin: 0 0 0 5px;
        background-color: #437983;
        -webkit-print-color-adjust: exact;
    }
}