@import "normalize.css";
@import "./css/particle";
@import "./css/resume";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {
    background-color: #333;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

a, a:hover, a:visited {
    color: #FF4136;
    text-decoration: none;
}

ul {
    padding: 0 0 0 20px;
}

.home-container {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.home-container section {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home-container section > * {
    align-self: center;
}

ul.list-undecorated {
    padding: 0;
}

    ul.list-undecorated li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

ul.list-undecorated.separated li {
    display: inline-block;
}

    ul.list-undecorated.separated li + li:before {
        content: "| ";
    }

@media print {
    html {
        background-color: white;
    }

    #particle-container {
        display: none;
    }
}